.Footer {
}

.block {
    padding-top: 1rem;
    width: 100vw;
}
.block > hr {
    width: 100%;
    margin-bottom: 0;

  border-top: 1px solid white;
}

.block > h3 {
    font-size: 0.5rem;
    /* padding-top: 0.1rem; */
    margin: 0
}

.link {
    color: #F7F2EA;
}

.link:hover {
    color: #ffd590
}